{% if is_granted('ROLE_USER') %}
    <form method="post" class="comment-form "  id="comment-form">
        <input id="commentContent" placeholder="Add your comment" autocomplete="off">
        <input type="hidden" id="comObject" value="
            {% if fault.id is defined %}
                {{ fault.id }}" data-fault="true">
            {% else %}
                {{ engine.id }}">
            {% endif %}

        <button class="comment-btn" name="submit" id="submit" value="Comment" type="button">Comment</button>
    </form>
{% else %}
    {{ app.session.set('url',app.request.uri) }}
    <a href="{{ path('app_login') }}">
        If you want to add comment, please sign in or create account
    </a>
{% endif %}

