@import url('https://fonts.googleapis.com/css?family=Montserrat:500');
body {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	background-color: #24252A;
	color: white;
	font-size: 16px;
}

.remember_me:hover {
	color: #808080;
}
/*.d-text{*/
/*	text-decoration: none;*/
/*}*/
.d-text:hover{
	color: gray;
	text-decoration: none;
}
.main {
	margin-left: 50px;
}
.btn-1{
  background-color:#75DDDD;
}
.btn-2{
background-color:#469d89;
}
.btn-3{
background-color: #ffc300;
}
.btn-4{
background-color: #ff0a54;
}

.count-label{
  margin-left: -12px;
  margin-top: -20px;
  background: transparent;
  position: absolute;
  border:0;
  cursor: pointer;
}
/* #compare-count, #favourite-count{
  position: relative;
} */

.search-icon {
	margin-left: -30px;
	font-size: 2.5rem;
}

#searchResult {
	padding-left: 20px;
	display: block;
	position: fixed;
	width: 300px;
}
.shift{
  margin-left: -40px;
}
.main-scale {

  white-space: normal;
  align-items: center;
	justify-content:space-around;

}

.main-scale:hover {
	font-size: 1rem;
	transition: 0.5s;
	transform: scale(.9);
	box-shadow: 0 3px 15px -2px;
}

.main-scale:not(hover) {
	transition: 0.5s;
}

.hideContent {
	overflow: hidden;
	line-height: 1em;
	height: 2em;
}

.showContent {
	animation: fadeIn 3s;
	line-height: 1em;
	height: auto;
}

@keyframes fadeIn {
	from {
		width: 0;
	}

	to {
		width: 100%;
	}
}

.js-part {
	background-color: white;
	border-radius: 5px;
}

#filterFields {
	width: 300px;
	right: 0;
}

#filter-arrow {
	color: #A8A8A8;
	font-size: 25px;
	left: 10px;
	position: relative;
	cursor: pointer;
}

#filter-arrow:not(hover) {
	animation: right 1s infinite;
}

#filter-arrow-left {
	color: #A8A8A8;
	font-size: 25px;
	right: 10px;
	position: relative;
	cursor: pointer;
  display: none;
}

#filter-arrow-left:not(hover) {
	animation: left 1s infinite;
}
#filterForm{
  position: fixed;
  width: 250px;
}


@keyframes right {
	0% {
		left: 0
	}

	50% {
		left: 10px
	}

	100% {
		left: 0
	}
}
@keyframes left {
	0% {
		right: 0
	}

	50% {
		right: 10px
	}

	100% {
		right: 0
	}
}

#input-search {
	height: 40px;
	width: 40px;
	border-style: none;
	font-size: 14px;
	letter-spacing: 2px;
	outline: none;
	border-radius: 25px;
	transition: all .5s ease-in-out;
	background-color: #22a6b3;
	padding-right: 40px;
	color: #fff;
}

.image-box {
	overflow: hidden;
	width: 500px;
	border-radius: 5px;
	height: 350px;
  margin-bottom: 10px;
}

.img {
	width: 500px;
	height: 350px;
	background-color: white;
	transition: all .5s ease;
}

.img:hover {
	transform: scale(1.1);
}

.make-icon {
	width: 210px;
	height: 190px;
	background-color: white;
	border-radius: 5px;
}

.make-icon:hover {
	transition: all .5s ease;
	transform: scale(1.1);
}

.make-icon:not(:hover) {
	transition: .5s;
}

#btn-search {
  width: 40px;
	border-style: none;
	position: relative;
	right: 35px;
	color: #ffffff;
	background-color: transparent;
  outline: none;
}

#input-search {
	width: 300px;
	border-radius: 0;
	background-color: transparent;
	border-bottom: 1px solid rgba(255, 255, 255, .5);
	transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
}

.top {
	margin-top: 70px;
}

.fa-asterisk {
	font-size: 6px;
	position: absolute;
	padding-top: 3px;
	padding-left: 5px;
	color: #FF0000;
}

.label-form {
	margin-bottom: -8px;
}

.link {
	color: #FFFFFF;
}
.link:hover{
  color: #808080;
  text-decoration:none;
}

.heart-color {
	color: #E01650;
}

.heart-color:hover {
	color: #fc0303;
}

.scale-color {
	color: #E0B643;
}

.scale-color:hover {
	color: #fcba03;
}
#language {
	border: none;
	width: 45px;
}
#language:focus {
   outline: 0;
}
#language, #language option:hover,
 #remember_me, .remember_me, .pointer, #btn-search {
	cursor: pointer;
}



#more {
	margin-top: -50px;
	font-size: 30px;
}
.decoration-none-logo:hover{
  color:#28a428;
  text-decoration:none;
    transition: 1s;
}
.decoration-none-logo{
  width: 130px;
}
.decoration-none{
  text-decoration:none;
}

.button-link {
	margin-top: 10px;
	margin-bottom: 10px;
	font-size: 30px;
	margin-right: 30px;
}

.dropdown-content {
	display: none;
}

.show {
	display: block;
	position: fixed;
	top: 70px;
	right: 0;
}

.m-text{
  width: 400px;
  margin-right: 20px;
}
.db-icon{
  position: absolute;
  padding-top: 20px;
}
.icon{
  margin-right: 20px;
}


@media all and (max-width: 880px) {

	#search-box {
		width: 200px;
	}

	#input-search {
		width: 200px;

	}

	.main {
		margin-left: 10px !important;
	}
}

@media all and (max-width:700px) {
  #search-box {
    padding-left: 10px;
    order:1;
    width: 80%;
    margin-bottom: 10px;
  }
}
@media all and (max-width: 587px) {

.main-space{
margin-right: 1.5rem!important;
}
#language{
  margin-left: 10px!important;
}
#language{
  margin-right: 0!important;
}

.display-3{
  font-size: 3.0rem;
}
.decoration-none-logo {
    width: 100px;
}
}
/* @media only screen and (max-width: 1200px) {
	.form {
		width: 350px;
	}
.link{
  margin-left: -150px;
}
	.col-4 {
		-webkit-box-flex: 0;
		flex: 0 0 41.666667%;
		max-width: 61.666667%;
	}

	.display-3 {
		font-size: 3.5rem;
	}
.justify-content-between{
  justify-content: space-around!important;
}

	h1 {
		font-size: 2rem;
		margin-left: 10px;
	}
}

@media only screen and (max-width: 640px) {

  h2 {
    font-size: 1.5rem;
  }
  .main-scale{
flex-direction: row-reverse;
}
  .img{

  width: 300px;
  height: 300px;
  }
  .image-box{

  width: 300px;
  height: 300px;
  }
  .link{
    margin-left: -80px;
  }
  .display-3 {
    font-size: 2.5rem;
  }
  .search-icon {
  	font-size: 1.5rem;
    margin-left: -20px;
  }

	#input-search {
		width:
    100px;
	}

	.form {
		width: 250px;
	}
  .db-icon{
    padding-top: 10px;
  }
	.col-3 {
		-webkit-box-flex: 0;
		flex: 0 0 41.666667%;
		max-width: 60.666667%;
	}
  .list{
    margin-left: 60px;
  }
.mr-4{
      margin-right: 1.0rem!important;
}

	.col-4 {
		-webkit-box-flex: 0;
		flex: 0 0 41.666667%;
		max-width: 80.666667%;
	}

}

@media only screen and (max-width: 400px) {
	.col-3 {
		-webkit-box-flex: 0;
		flex: 0 0 41.666667%;
		max-width: 75.666667%;
	}
  .display-3 {
    font-size: 2.0rem;
  }
.main-scale{
  align-self: center;
}
  h2{
    margin-left: 10px;
  }

	.col-4 {
		-webkit-box-flex: 0;
		flex: 0 0 41.666667%;
		max-width: 80.666667%;
	}
} */
