@import url('https://fonts.googleapis.com/css?family=Montserrat:500');

body {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    background-color: #24252A;
    color: white;
    font-size: 16px;
}

.remember_me:hover {
    color: #808080;
}

.main {
    margin-left: 200px;
}

#search-box {
    margin-top: 15px;
    width: fit-content;
    height: fit-content;
    position: relative;
}

.hideContent {
    overflow: hidden;
    line-height: 1em;
    height: 2em;
}

.showContent {
    animation: fadeIn 3s;
    line-height: 1em;
    height: auto;
}

@keyframes fadeIn {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}
.js-part{
    background-color: white;
    border-radius: 5px;
}
#filterFields {
    width: 300px;
    right: 10px;
}

#input-search {
    height: 40px;
    width: 40px;
    border-style: none;
    font-size: 14px;
    letter-spacing: 2px;
    outline: none;
    border-radius: 25px;
    transition: all .5s ease-in-out;
    background-color: #22a6b3;
    padding-right: 40px;
    color: #fff;
}
.image-box{
    overflow:hidden;
    width:500px;
    border-radius: 5px;
    height:350px;
    margin-bottom: 80px;
}
.img{
    width:500px;
    height:350px;
    background-color: white;

    transition: all .5s ease;
}
.img:hover{
    transform: scale(1.1);
}
.make-icon{
    width:210px;
    height:190px;
    background-color: white;
    border-radius: 5px;
}
.make-icon:hover {
    transition: all .5s ease;
    transform: scale(1.1);
}
.make-icon:not(:hover) {
    transition: .5s ;
}

#btn-search {
    width: 40px;
    height: 40px;
    border-style: none;
    font-size: 14px;
    font-weight: bold;
    outline: none;
    border-radius: 50%;
    position: absolute;
    right: 0;
    color: #ffffff;
    background-color: transparent;
    pointer-events: painted;
}

#input-search {
    width: 300px;
    border-radius: 0;
    background-color: transparent;
    border-bottom: 1px solid rgba(255, 255, 255, .5);
    transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
}


.top {
    margin-top: 70px;
}

.fa-asterisk {
    font-size: 6px;
    position: absolute;
    padding-top: 3px;
    padding-left: 5px;
    color: #FF0000;
}

.label-form {
    margin-bottom: -8px;
}

.link {
    color: #FFFFFF;
    margin-top: 20px;
}

.heart {
    color: #E01650;
}

.heart:hover {
    color: #fc0303;
}

.scale {
    color: #E0B643;
}

#language {
    border: none;
    width: 40px;
    height: 40px;
    margin-top: 15px;
    font-size:18px;
}

#language, #remember_me, .remember_me, .pointer, #btn-search {
    cursor: pointer;
}

.scale:hover {
    color: #fcba03;
}

#more {
    margin-top: -50px;
    font-size: 30px;
}

.logo {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 35px;
    margin-left: 50px;
    transition: all ease 1.5s;
    color: #FFFFFF;
}

.logo:hover {
    text-decoration: none;
    color: #a1a1aa;

}

.button-link {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 30px;
    margin-right: 50px;
}

.dropdown-content {
    display: none;
}

.show {
    display: block;
    position: fixed;
    top: 70px;
    right: 30px;
}

